<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
  <insert id="reg" parameterType="pvo">
    insert into product(pname, price, regdate, madeby)
    values(#{pname}, #{price}, now(), #{madeby})
  </insert>
  <select id="list" resultType="pvo">
    select pno, pname, price from product order by pno desc
  </select>
  <select id="detail" parameterType="int" resultType="pvo">
    select pno, pname, price, regdate, madeby from product where pno = #{pno}
  </select>
  <update id="mod" parameterType="pvo">
    update product set pname = #{pname}, price = #{price}, madeby = #{madeby} where pno = #{pno}
  </update>
  <delete id="del" parameterType="int">
    delete from product where pno = #{pno}
  </delete>
</mapper>